In [1]:
import pandas as pd
import sweetviz as sv

/home/simplon/miniconda3/envs/arbre_de_decision/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
data = pd.read_csv("SBAnational.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'SBAnational.csv'

In [ ]:
# Pour afficher les données avec Steewitz
# data['ApprovalFY'] = data['ApprovalFY'].replace('A', '', regex=True).astype(int) # parceque le ytpe de cette column est "mixed-integer'
# report = sv.analyze(data)
# report.show_html('report.html')

In [ ]:
data.shape

(899164, 27)

In [ ]:
data.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"

In [ ]:
data.isnull().sum()
#Il n'y a pas de valeurs nulles.

LoanNr_ChkDgt             0
Name                     14
City                     30
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [ ]:
liste = data.columns.to_list()
liste

['LoanNr_ChkDgt',
 'Name',
 'City',
 'State',
 'Zip',
 'Bank',
 'BankState',
 'NAICS',
 'ApprovalDate',
 'ApprovalFY',
 'Term',
 'NoEmp',
 'NewExist',
 'CreateJob',
 'RetainedJob',
 'FranchiseCode',
 'UrbanRural',
 'RevLineCr',
 'LowDoc',
 'ChgOffDate',
 'DisbursementDate',
 'DisbursementGross',
 'BalanceGross',
 'MIS_Status',
 'ChgOffPrinGr',
 'GrAppv',
 'SBA_Appv']

In [ ]:
data.isnull().sum()
# Pour ChgOffDate remplacer en fonction de dibursement rate si c'est 0 ou pas
# VOir à supprimer les variables si il y a data leaking ( variable qui se base sur le résultat de la variable.)

LoanNr_ChkDgt             0
Name                     14
City                     30
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [ ]:
data["LowDoc"].value_counts()

N    782822
Y    110335
0      1491
C       758
S       603
A       497
R        75
1         1
Name: LowDoc, dtype: int64

In [ ]:
data["BalanceGross"].value_counts()

$0.00           899150
$12,750.00           1
$827,875.00          1
$25,000.00           1
$37,100.00           1
$43,127.00           1
$84,617.00           1
$1,760.00            1
$115,820.00          1
$996,262.00          1
$395,476.00          1
$41,509.00           1
$600.00              1
$9,111.00            1
$96,908.00           1
Name: BalanceGross, dtype: int64

In [ ]:
data['DisbursementDate'].value_counts()

31-Jul-95    10371
30-Apr-95    10320
31-Jan-95     9745
31-Oct-94     8890
31-Oct-95     8161
             ...
30-Jul-14        1
7-Mar-01         1
6-Jul-01         1
10-Feb-01        1
25-Oct-97        1
Name: DisbursementDate, Length: 8472, dtype: int64

In [ ]:
#On verifie s'il y a des erreurs$
#Premiere erreur 
#Pour verifier si il y a bien eu remboursement 
data.loc[data['DisbursementDate'].isnull()  , 'ChgOffDate'] = 0
#On encode ensuite les données 
data['ChgOffDate'] = data['ChgOffDate'].fillna(0).replace(to_replace=r'\S+', value=1, regex=True)
data.isnull().sum()

LoanNr_ChkDgt           0
Name                   14
City                   30
State                  14
Zip                     0
Bank                 1559
BankState            1566
NAICS                   0
ApprovalDate            0
ApprovalFY              0
Term                    0
NoEmp                   0
NewExist              136
CreateJob               0
RetainedJob             0
FranchiseCode           0
UrbanRural              0
RevLineCr            4528
LowDoc               2582
ChgOffDate              0
DisbursementDate     2368
DisbursementGross       0
BalanceGross            0
MIS_Status           1997
ChgOffPrinGr            0
GrAppv                  0
SBA_Appv                0
dtype: int64

In [ ]:
data["NAICS"].value_counts()

0         201948
722110     27989
722211     19448
811111     14585
621210     14048
           ...
927110         1
327410         1
314992         1
922110         1
325192         1
Name: NAICS, Length: 1312, dtype: int64

In [ ]:
data_duplicates = data[data.duplicated(['Name'],keep='first')]

data_duplicates

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
111,1001055002,"Water & Energy Systems, Inc.",Atkinson,NH,3811,BANK OF AMERICA NATL ASSOC,RI,0,1-May-97,1997,...,0,N,0,28-Feb-98,"$28,000.00",$0.00,P I F,$0.00,"$28,000.00","$14,000.00"
155,1001304009,"UNITED APPRAISAL SERVICES, INC",TOLEDO,OH,43608,KEYBANK NATIONAL ASSOCIATION,OH,0,28-Feb-97,1997,...,0,N,0,31-May-97,"$10,500.00",$0.00,P I F,$0.00,"$10,500.00","$5,250.00"
199,1001594004,CHESTER MANUFACTURING COMPANY,TONAWANDA,NY,14150,MANUFACTURERS & TRADERS TR CO,NY,0,28-Feb-97,1997,...,N,N,0,31-Mar-97,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$75,000.00"
240,1001905008,REYNOLDS H20 PLUS,WEST READING,PA,19611,WELLS FARGO BANK NATL ASSOC,PA,0,4-Dec-97,1998,...,0,N,0,28-Feb-98,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$50,000.00"
243,1001915000,REYNOLDS H20 PLUS,WEST READING,PA,19611,WELLS FARGO BANK NATL ASSOC,PA,0,4-Dec-97,1998,...,0,N,0,28-Feb-98,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$50,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899147,9995343005,WYNDEHAVEN TERRACE BANQUET FAC,HOUSTON,TX,77069,WELLS FARGO BANK NATL ASSOC,TX,0,27-Feb-97,1997,...,0,N,0,31-May-97,"$15,000.00",$0.00,P I F,$0.00,"$15,000.00","$11,250.00"
899152,9995403010,D D MUDD,IDAHO FALLS,ID,83405,BANK OF IDAHO,ID,0,27-Feb-97,1997,...,N,Y,0,31-Mar-97,"$38,000.00",$0.00,P I F,$0.00,"$38,000.00","$30,400.00"
899154,9995423005,"LITWIN LIVERY SERVICES, INC.",CAMPBELL,OH,44405,JPMORGAN CHASE BANK NATL ASSOC,IL,0,27-Feb-97,1997,...,0,N,0,30-Sep-97,"$10,000.00",$0.00,P I F,$0.00,"$10,000.00","$5,000.00"
899157,9995493004,PULLTARPS MFG.,EL CAJON,CA,92020,U.S. BANK NATIONAL ASSOCIATION,CA,314912,27-Feb-97,1997,...,N,N,0,31-Mar-97,"$200,000.00",$0.00,P I F,$0.00,"$200,000.00","$150,000.00"
899160,9995603000,FABRIC FARMS,COLUMBUS,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,27-Feb-97,1997,...,Y,N,0,31-Oct-97,"$85,000.00",$0.00,P I F,$0.00,"$85,000.00","$42,500.00"

In [ ]:
data_duplicates=data_duplicates[data_duplicates['NAICS']!=0]
data_duplicates

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
312,1002375006,"Emerling Fire Equipment, Inc.",West Seneca,NY,14224,KEYBANK NATIONAL ASSOCIATION,OH,421990,10-Apr-98,1998,...,0,N,0,30-Jun-98,"$15,000.00",$0.00,P I F,$0.00,"$15,000.00","$7,500.00"
360,1002725004,Earth Bound,South China,ME,4358,KEYBANK NATIONAL ASSOCIATION,OH,448120,1-Jun-98,1998,...,Y,N,0,31-May-01,"$35,000.00",$0.00,P I F,$0.00,"$20,000.00","$10,000.00"
370,1002805004,Action Bookkeeping & Tax Servi,Buffalo,NY,14211,KEYBANK NATIONAL ASSOCIATION,OH,541213,15-Jun-98,1998,...,N,N,0,30-Jun-98,"$10,000.00",$0.00,P I F,$0.00,"$10,000.00","$5,000.00"
390,1002945000,"First Fuel & Heating, Inc.",Hudson,NY,12534,KEYBANK NATIONAL ASSOCIATION,OH,454311,30-Jun-98,1998,...,N,N,0,31-Aug-98,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$30,000.00"
427,1003256003,DIMENSIONS,OCEAN CITY,MD,21842,"PNC BANK, NATIONAL ASSOCIATION",DE,451110,7-Feb-06,2006,...,T,N,1,28-Feb-06,"$20,000.00",$0.00,CHGOFF,"$20,000.00","$20,000.00","$10,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899098,9994463004,ROSENBERG & ASSOCIATES,LOS ANGELES,CA,90045,U.S. BANK NATIONAL ASSOCIATION,CA,541330,27-Feb-97,1997,...,0,N,0,31-Mar-97,"$75,000.00",$0.00,P I F,$0.00,"$75,000.00","$60,000.00"
899101,9994503003,"WARPED & REAL PROUD, INC.",SEATTLE,WA,98109,BANK OF AMERICA NATL ASSOC,WA,314912,27-Feb-97,1997,...,Y,N,0,31-Dec-97,"$75,000.00",$0.00,P I F,$0.00,"$75,000.00","$37,500.00"
899112,9994693003,COAST TO COAST HARDWARE,MT. JULIET,TN,37122,BANK OF AMERICA NATL ASSOC,TN,444130,27-Feb-97,1997,...,N,N,0,31-Jul-99,"$110,000.00",$0.00,P I F,$0.00,"$110,000.00","$82,500.00"
899157,9995493004,PULLTARPS MFG.,EL CAJON,CA,92020,U.S. BANK NATIONAL ASSOCIATION,CA,314912,27-Feb-97,1997,...,N,N,0,31-Mar-97,"$200,000.00",$0.00,P I F,$0.00,"$200,000.00","$150,000.00"
899160,9995603000,FABRIC FARMS,COLUMBUS,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,27-Feb-97,1997,...,Y,N,0,31-Oct-97,"$85,000.00",$0.00,P I F,$0.00,"$85,000.00","$42,500.00"

In [ ]:
ma_liste = data_duplicates[['Name','NAICS']].apply(lambda x: x.tolist(), axis=1)
ma_liste = ma_liste.tolist()
ma_liste
mon_dictionnaire = dict(ma_liste)
mon_dictionnaire

NameError: name 'data_duplicates' is not defined

In [ ]:

data_duplicates['NAICS'].replace(mon_dictionnaire, inplace=True)

In [ ]:
data_duplicates_2=data[data['NAICS']==0]
data_duplicates_2

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,0,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,0,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"
6,1000093009,MIDDLE ATLANTIC SPORTS CO INC,UNION,NJ,7083,WELLS FARGO BANK NATL ASSOC,SD,0,2-Jun-80,1980,...,N,N,1,22-Jul-80,"$600,000.00",$0.00,CHGOFF,"$208,959.00","$600,000.00","$499,998.00"
9,1000124001,INTEXT BUILDING SYS LLC,GLASTONBURY,CT,6073,WEBSTER BANK NATL ASSOC,CT,0,28-Feb-97,1997,...,N,Y,0,30-Apr-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
13,1000154010,"ORCHARD CAFE & BAKERY, INC.",SLATERSVILLE,RI,2876,CITIZENS BANK NATL ASSOC,RI,0,28-Feb-97,1997,...,N,N,0,31-May-97,"$370,000.00",$0.00,P I F,$0.00,"$370,000.00","$277,500.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899153,9995413002,NORTH SHORE FLORAL,WOODBURY,NY,11797,FLUSHING BANK,NY,0,27-Feb-97,1997,...,0,N,1,31-May-97,"$142,000.00",$0.00,CHGOFF,$0.00,"$142,000.00","$106,500.00"
899154,9995423005,"LITWIN LIVERY SERVICES, INC.",CAMPBELL,OH,44405,JPMORGAN CHASE BANK NATL ASSOC,IL,0,27-Feb-97,1997,...,0,N,0,30-Sep-97,"$10,000.00",$0.00,P I F,$0.00,"$10,000.00","$5,000.00"
899158,9995563001,SHADES WINDOW TINTING AUTO ALA,IRVING,TX,75062,LOANS FROM OLD CLOSED LENDERS,DC,0,27-Feb-97,1997,...,N,Y,0,30-Jun-97,"$79,000.00",$0.00,P I F,$0.00,"$79,000.00","$63,200.00"
899162,9995973006,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,27-Feb-97,1997,...,N,Y,1,31-Mar-97,"$75,000.00",$0.00,CHGOFF,"$46,383.00","$75,000.00","$60,000.00"
899163,9996003010,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,27-Feb-97,1997,...,N,N,0,31-May-97,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"

In [3]:
data_duplicates_2_copy_changement = data

NameError: name 'data' is not defined

In [ ]:
data_duplicates_2

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,0,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,0,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"
6,1000093009,MIDDLE ATLANTIC SPORTS CO INC,UNION,NJ,7083,WELLS FARGO BANK NATL ASSOC,SD,0,2-Jun-80,1980,...,N,N,1,22-Jul-80,"$600,000.00",$0.00,CHGOFF,"$208,959.00","$600,000.00","$499,998.00"
9,1000124001,INTEXT BUILDING SYS LLC,GLASTONBURY,CT,6073,WEBSTER BANK NATL ASSOC,CT,0,28-Feb-97,1997,...,N,Y,0,30-Apr-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
13,1000154010,"ORCHARD CAFE & BAKERY, INC.",SLATERSVILLE,RI,2876,CITIZENS BANK NATL ASSOC,RI,0,28-Feb-97,1997,...,N,N,0,31-May-97,"$370,000.00",$0.00,P I F,$0.00,"$370,000.00","$277,500.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899153,9995413002,NORTH SHORE FLORAL,WOODBURY,NY,11797,FLUSHING BANK,NY,0,27-Feb-97,1997,...,0,N,1,31-May-97,"$142,000.00",$0.00,CHGOFF,$0.00,"$142,000.00","$106,500.00"
899154,9995423005,"LITWIN LIVERY SERVICES, INC.",CAMPBELL,OH,44405,JPMORGAN CHASE BANK NATL ASSOC,IL,0,27-Feb-97,1997,...,0,N,0,30-Sep-97,"$10,000.00",$0.00,P I F,$0.00,"$10,000.00","$5,000.00"
899158,9995563001,SHADES WINDOW TINTING AUTO ALA,IRVING,TX,75062,LOANS FROM OLD CLOSED LENDERS,DC,0,27-Feb-97,1997,...,N,Y,0,30-Jun-97,"$79,000.00",$0.00,P I F,$0.00,"$79,000.00","$63,200.00"
899162,9995973006,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,27-Feb-97,1997,...,N,Y,1,31-Mar-97,"$75,000.00",$0.00,CHGOFF,"$46,383.00","$75,000.00","$60,000.00"
899163,9996003010,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,27-Feb-97,1997,...,N,N,0,31-May-97,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"

In [ ]:
#dictionnaire de référence
dict_ref = {1:100, 2:200, 3:300}
df['colonne'].replace(dict_ref, inplace=True)

In [ ]:
#Test
data_duplicates.loc[data_duplicates['Name'] == 'ANASTASIA CONFECTIONS, INC.']

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
519467,5025623007,"ANASTASIA CONFECTIONS, INC.",POMPANO BEACH,FL,33069,OCEAN BANK,FL,422450,14-Sep-92,1992,...,N,N,0,31-Jan-93,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$90,000.00"


Variable importante :
NAICS